* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    /*alterar tamanho da area do link, etc.*/
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39AAE1;
    color: #FFFFFF;
}

#banner {
    display: flex;
    justify-content: center;

    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.banner1 {
    background-color: #39AAE1;
}

.banner2 {
    background-color: #0079C7;
}

.banner3 {
    background-color: #2B4C99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}

.service {
    display: flex;
    flex-direction: column;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid white;
    margin: 10px 0px;
    padding: 5px;
}

.schedules {
    font-weight: normal;
}

#general {
    display: flex;
    justify-content: center;
}

#general section {
    flex: 2;
}

#general aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36A9E1;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_post_at,
article .new_comments {
    background-color: #2b4c99;
    color: #ffffff;
    font: 12px;
    padding: 10px;
}

article .new_comments {
    background-color: #39aae1;
    margin-left: 2px;
}

article .news_thumbnail {
    margin: 30px 0 0 0;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin: 25px 0;
    font-size: 23px;
    font-weight: bold;
    color: #000000;
}

article .news_resume {
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

aside .widget_body {
    display: flex;
    flex-wrap: wrap;
}

aside .square {
    width: 100px;
    height: 100px;
    background-color: #39aae1;
    margin: 10px;
}

aside .square:hover {
    cursor: pointer;
}

aside .contact_desc {
    text-align: justify;
    margin-bottom: 30px;
}

aside .phone {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

aside .phone img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

aside .phone a {
    font-weight: bold;
    margin-left: 3px;
    text-decoration: none;
    color: #000000;
}

aside .mail {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

aside .mail img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

aside .mail a {
    margin-left: 3px;
    text-decoration: none;
}

aside .mail {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

aside .mail img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

aside .mail a {
    margin-left: 3px;
    text-decoration: none;
}

aside .form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

aside .form img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

aside .form a {
    margin-left: 3px;
    margin-right: 3px;
}

footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}

footer .footer_menu {
    display: flex;
    flex: 1;
}

.fm1,
.fm2,
.fm3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.fm1:hover,
.fm2:hover,
.fm3:hover {
    cursor: pointer;
}

.fm1 {
    background-color: #39AAE1;
}

.fm2 {
    background-color: #0079C7;
}

.fm3 {
    background-color: #2B4C99;
}

.flexColumn {
    flex-direction: column;
}

.footer_area {
    display: flex;
}

.footer_areaItem {
    flex: 1;
    color: #FFFFFF;
}

footer .widget_title_text {
    color: #FFFFFF;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

footer .areaItem_desc {
    margin-bottom: 10px;
    font-size: 14px;
    color: #5c5c5c;
    padding: 0 10px 0 0;

}

footer .areaItem_contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    color: #5c5c5c;
    padding: 0 10px 0 0;

}

footer .address {
    font-size: 14px;
    max-width: 100px;
    color: #5c5c5c;

}

footer .contact {
    font-size: 14px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

footer .contact a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: #5c5c5c;
}

footer .contact a#mail {
    color: #FFFFFF;
}

footer .socials a {
    text-decoration: none;
}

footer .socials a img {
    width: 30px;
    height: 30px;
}

footer .areaItem2_desc {
    display: flex;
    flex-direction: column;
}

footer .areaItem2_desc .desc {
    font-size: 14px;
}

footer .areaItem2_desc .data_post {
    font-size: 12px;
    color: #39AAE1;
    margin-bottom: 10px;
    font-weight: bold;
}

footer .areaItem3_desc {
    font-size: 14px;
    color: #5c5c5c;
}

footer .areaItem3_desc a {
    color: #FFFFFF;
}

footer .areaItem3_desc .data_post {
    font-size: 12px;
    color: #39AAE1;
    margin-bottom: 10px;
    font-weight: bold;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 20px 40px 0;
    
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

/* Suporte até 600px */
@media (max-width: 768px ) { 
    header .container {
        margin: 0 0 0 20px;
        align-items: center;
    }

    header {
        height: auto;
    }

    .menu nav ul {
        display: flex;
        flex-direction: column;
        display: none;

        /* Menu Mobile Propriedades */
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }
    .widget_title_text, .widget_title_bar {
        margin-left: 10px;
    }

    .banner_headline {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 55px;
        margin-bottom: 10px;
    }

    .banner_headline h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .banner_options {
        flex-direction: column;
    }

    #general .container{
        flex-direction: column;
    }
    
    #general div section {
        margin-top: 325px;
    }

    #general .widget_body.flex article {
        margin: 0 20px
    }
    
    aside div:nth-child(1) .widget_body {
        flex-wrap: wrap;
        justify-content: center;
        margin: auto 50px;
    }

    #general div aside div:nth-child(2) .widget_body {
        padding: 10px;
        flex-direction: column;
    }

    footer .container .footer_menu{
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
    }

    .footer_area, .footer_areaItem {
        margin-left: 5px;
    }

    footer .areaItem_desc, footer .areaItem_contact, footer .socials, footer .desc {
        padding: 10px;
    }

    footer .data_post {
        margin-left: 10px;
        margin-top: -10px;
    }
    .footer_copy {
        display: flex;
        justify-content: center;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 426px ) { 
    #general .widget_title .widget_title_text {
        margin-top: 55px;
    }
}

@media (max-width: 320px ) { 
    #banner .banner_headline h1 {
        font-size: 35px;
    }

    #banner .banner_headline h2 {
        font-size: 15px;
    }

    #general .widget_title .widget_title_text {
        margin-top: 85px;
    }

    #general div:nth-child(2) .widget_body .contact_desc {
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
    }
}